<nav class='app-size'>
    <div class='logo'><p>F-1</p><p>Feeder</p></div>
    <ul>
        <a ui-sref='main.drivers({year: nav.year})'><li>Drivers</li></a>
        <a ui-sref='main.teams({year: nav.year})'><li>Teams</li></a>
        <a ui-sref='main.races({year: nav.year})'><li>Races</li></a>
    </ul>
    <div class='selection'>Year: &nbsp; 
        <select ng-model='nav.year'
            ng-options='x for x in nav.yearList'
            ng-init='nav.year = nav.yearList[13]'
            ng-change='nav.updateState()'
            >
        </select>
    </div>
    
</nav>