<div>
    <div class='search'>
        <input type='text' ng-model='races.nameFilter' placeholder='Search...' />
    </div>
    <div>
        <p class='championship'>Race Calendar</p>
        <table>
            <thead>
                <tr>
                    <th colspan='5'>
                        Race Calendar - {{ races.year }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='race in races.races.Races | filter:races.searchFilter'>
                            <td>{{ $index + 1 }}</td>
                            <td>
                                <img ng-src='./images/flags/{{ race.Driver.nationality }}.png' />
                                <a ui-sref='main.results({id: race.round})' >
                                    {{ race.raceName }}
                                </a>
                            </td>
                            <td>{{ race.Circuit.circuitName }}</td>
                            <td>{{ race.date }}</td>
                            <td>
                                <img ng-src='images/flags/{{ race.Results[0].Driver.nationality }}.png' />
                                {{ race.Results[0].Driver.familyName }}
                            </td>
                        </tr>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>