<div>
    <div class='driver'>
        <img ng-src='images/flags/{{ team.team.Constructor.nationality }}.png' />
        <p>{{ team.team.Constructor.name }}</p>
        <p>Country: {{ team.team.Constructor.nationality }}</p>
        <p>Position: {{ team.team.position }}</p>
        <p>Points: {{ team.team.points }}</p>
        <p><a href='{{ team.team.Constructor.url }}'>History &#x1F517;</a><p>
    </div>
    <div class='info'>
        <table>
            <thead>
                <tr>
                    <th colspan='6'>F-1 {{ team.year }} Results</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Round</th>
                    <th>Grand Prix</th>
                    <th ng-repeat='driver in team.results.Races[0].Results'>
                        {{ driver.Driver.familyName }}
                    </th>
                    <th>Race</th>
                </tr>
                <tr ng-repeat='race in team.results.Races'>
                    <td>{{ race.round }}</td>
                    <td>
                        <a ui-sref='main.results({year: team.year, id: race.round})'>
                            <img  ng-src='images/flags/{{ race.Circuit.Location.country }}.png' />
                            {{ race.raceName }}
                        </a>
                        </td>
                    <td ng-repeat='driverInfo in race.Results'>
                        {{ driverInfo.position }}
                    </td>
                    <td>
                        {{ team.getTotal($index) }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>