<div>
    <div class='search'>
        <input type='text' ng-model='teams.nameFilter' placeholder='Search...' />
    </div>
    <div>
        <p class='championship'>Constructors Championship</p>
        <table>
            <thead>
                <tr>
                    <th colspan='5'>
                        Constructors Championship Standings - {{ teams.year }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='team in teams.teams.ConstructorStandings | filter:teams.searchFilter'>
                            <td>{{ team.position }}</td>
                            <td>
                                <a ui-sref='main.team({year: teams.year, id: team.Constructor.constructorId})' >
                                    <img ng-src='images/flags/{{ team.Constructor.nationality }}.png' />
                                    {{ team.Constructor.name }}
                                </a>
                            </td>
                            <td>
                                <a href='{{ team.Constructor.url }}'>Details &#x1F517;</a>
                            </td>
                            <td>
                                {{ team.points }}
                            </td>
                        </tr>
                </tr>
            </tbody>
        </table>
    </div>
</div>