.header {

    width: 250px;
    left: 0;
    top: 0;
    background-color: darken($grey, 50);
    color: $white;
    float: left;

    nav{
        .logo{
            background-color: darkred;
            height: 250px;
            padding-top: 100px;
            p {
                font-weight: bolder;
                font-size: 32px;
                text-align: center;
                background-color: darken($grey, 70);
                padding: 15px;
                &:first-child {
                    border-top: 4px solid white;
                }
                &:last-child {
                    border-bottom: 4px solid white;
                }
            }
        }
        ul{
            a li{
                color: $white;
                font-size: 20px;
                text-indent: 20px;
                line-height: 28px;
                padding: 10px 5px;
                cursor: pointer;

                &:hover{
                    color: $grey;
                }
            }
        }
    }
//Decide are you gonna be doing PHONE or DESKTOP first styling

//If you're doing PHONE first,
//      just fill in the blanks

//If you are doing DESKTOP first,
//      uncomment the phone include and comment out the desktop one,
//      then fill in the blanks

    @include breakpoint(tablet) {

    }

    @include breakpoint(desktop) {

    }

    // @include breakpoint(phone) {
        
    // }

}